
.footer {
    position: fixed;
    text-align: center;
    background-color: white;
    bottom: 0;
    width: 100%;
    left: 0;
    color: black;
    top: 10;
    border-top: whitesmoke;

}
.padding {
    padding: 2%;
}
header {
    background-color: navy;
    color: white;
    margin: 1px 10px 20px 10px;
    padding: 25px;
    text-align: center;
    border-radius: 5px;

}